* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
}

nav {
  width: 100%;
  background-color: #181818;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
}
nav ul a {
  padding: 0.5rem 1.5rem;
  color: #efefef;
  text-decoration: none;
}
nav ul a:hover {
  background-color: #efefef;
  color: #181818;
}
