* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
  color: #efefef;
}

nav {
  width: 100%;
  background-color: #181818;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
}
nav ul a {
  padding: 0.5rem 1.5rem;
  color: #efefef;
  text-decoration: none;
}
nav ul a:hover {
  background-color: #efefef;
  color: #181818;
}

.hero {
  background-color: #181818;
  padding: 1.5rem;
  display: flex;
  margin: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.hero .hero-buttons a {
  padding: 0.5rem;
  text-decoration: none;
  color: aqua;
}
.hero .hero-buttons a:hover {
  text-decoration: underline;
}
.hero .hero-buttons a:active {
  color: rgb(2, 227, 227);
}
